<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="appPerson" class = "mt-5">
      <div class="container">
        <div class="form-group row">
          Firstname
          <input type="text" placeholder="Your name" v-model="person.fname" />
        </div>
        <div class="form-group row">
          Lastname
          <input
            type="text"
            placeholder="Your surname"
            v-model="person.surname"
          />
        </div>
        <div class="form-group row">
          Age
          <input type="number" placeholder="Your Age" v-model="person.age" />
        </div>
        <div class="form-inline row">
          Gender
          <input type="radio" id="male" value="Male" v-model="person.gender" />
          <label for="one">Male</label>

          <input
            type="radio"
            id="female"
            value="Female"
            v-model="person.gender"
          />
          <label for="one">Female</label>
        </div>

        <input type="checkbox" id="dog" value="dog" v-model="person.pets" />
        <label for="Male">Dog</label>
        <input type="checkbox" id="cat" value="cat" v-model="person.pets" />
        <label for="Male">Cat</label>
        <input type="checkbox" id="bird" value="bird" v-model="person.pets" />
        <label for="Male">Bird</label>

        <div class="form-group row">
          <select v-model="person.role">
            <option value="" disabled>Please select type</option>
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
        </div>

        <ul>
          <li>
            Name : {{person.fname}}
          </li>
          <li>
            Surname : {{person.surname}}
          </li>
          <li>
            Age : {{person.age}}
          </li>
          <li>
            Gender : {{person.gender}}
          </li>
          <li>
            Pets : {{person.pets}}
          </li>

          <li>
            role : {{person.role}}
          </li>
        </ul>
      </div>
    </div>
  </body>
  <script>
    var app = new Vue({
      el: "#appPerson",
      data: {
        person: {
          fname: "",
          surname: "",
          age: "",
          gender: "",
          pets: [],
          role: ""
        }
      }
    });
  </script>
</html>
